files:
  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root /usr/local/bin/myscript.sh

  "/usr/local/bin/myscript.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      source /opt/elasticbeanstalk/support/envvars

      # Utiliza curl para realizar la solicitud POST
      node /var/app/current/update-prices.js --param1 valor1 --param2 valor2

      # Registra la fecha y hora actual en un archivo temporal
      date > /tmp/date

      # Puedes agregar más comandos aquí para el contenido real del script

      exit 0

commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/mycron.bak"
